
    <button id="routerUno">Ver Router #1 </button>
                <!-- Configuración -->
    <div id="tableRouterUno" class="inactive">
        <table>
            <caption id="routerUno">Configuración Router  </caption>
            <tr>
                <td>Dirección IP: </td>
                <td>172.15.100.1</td>
            </tr>
            <tr>
                <td id="contraseñaRouter">Contraseña vty 0 4</td>
                <td>1234</td>
            </tr>
            <tr>
                <td>Mensaje del día: </td>
                <td>"Sólo el administrador puede hacer modificaciones en el Router CDMX"</td>
            </tr>
        </table>
        <section class="botones">
            <button id="switchs" class="btn Switch">Ver Switchs</button>
            <button id="machines" class="btn Machines">Ver máquinas</button>
        </section>
    </div>
    <table id="tableSwitchsRouterUno" class="inactive">
        <caption>Configuración de los Switchs</caption>
        <td></td><td>Switch #1</td>
        <tr>
            <td>Dirección IP:</td>
            <td>172.15.110.1</td>
        </tr>
        <tr>
            <td>Subnet Mask:</td>
            <td>255.255.0.0</td>
        </tr>
        <tr>
            <td>Dirección IP VLAN:</td>
            <td>172.15.110.25</td>
        </tr>
        <tr>
            <td>Subnet Mask:</td>
            <td>255.255.0.0</td>
        </tr>
    </table>
    <table id="tableMachinesRouterUno" class="inactive">
        <caption>Configuración de las máquinas</caption>
        <td></td>
        <td >Maquina #1</td>
        <td >Maquina #2</td>
        <td >Maquina #3</td>
        <tr>
            <td>IPv4 Addres:</td>
            <td>172.15.110.15</td>
            <td>172.15.110.16</td>
            <td>172.15.110.17</td>
        </tr>
        <tr>
            <td>Subnet Mask:</td>
            <td colspan="3">255.255.0.0</td>
        </tr>
        <tr>
            <td>Default Gateway:</td>
            <td colspan="3">172.15.110.1</td>
        </tr>
    </table>